.find-course{
    position: relative;
    z-index: 3;
    .find-course__bg{
        position: absolute;
        bottom: 0;
        left: 0;
        right: 0;

        img{
            width: 100%;
        }
    }
    .form{
        border-radius: 10px;
        background-color: $color-white;
        box-shadow: 0 30px 30px -10px rgba(157, 149, 149, 0.55);
        width: 80%;
        padding: 10px 20px 30px;

        .d-flex{
            gap: 20px;
            .input-name, .input-email{
                position: relative;
                z-index: 2;
                i{
                    position: absolute;
                    top: 10px;
                    left: 10px;
                    z-index: 1;
                    color: $color-purple;

                }
            }
        }

        .form-control{
            border-radius: 20px;
            padding: 0 0 0 30px;
            font-size: $fs-1;
        }

        .btnSend{
            @extend .btnPhone;
            @include styleText($fs-1, $fw-1, $color-white);
            text-transform: uppercase;
            padding-left: 40px;
            padding-right: 40px;
        }
    }   
}

.input-language, .input-message{
    position: relative;
    i{
        position: absolute;
        top: 10px;  
        left: 10px;
        z-index: 1;
        color: $color-purple;
    }
}