footer{
    position: relative;
    .title{
        @include styleText($fs-4, $fw-2, $color-white);
    }

    li {
        margin-bottom: 10px;
        border-bottom: 1px solid rgba(0,0,0,.1);
        padding-bottom: 10px;
    }

    i, span, a{
        @include styleText($fs-1, $fw-0, $color-white);
    }

    a:hover{
        color: grey;
        text-decoration: none;
    }

    .footer-input{
        padding: 10px 20px;
        border-radius: 30px;
        color: $color-white;
        background-color: transparent;
        border: 1px solid rgba(255, 255, 255, 0.304);
        transition: all .5s;
        margin-bottom: 10px;

        &:focus{
            border: 1px solid $color-white;

        }
    }

    .footer-bg-top{
        position: absolute;
        top: -463px;

        img{
            max-width: 100%;
        }
    }

    .footer-bg-bot{
        position: absolute;
        bottom: -109px;

        img{
            max-width: 100%;
        }
    }
}

.btnSub{
    @extend .btnPhone;
}