.btnPhone{
    display: flex;
    gap: 10px;
    padding: 0.5rem 20px;
    color: $color-white;
    border-radius: 50px;
    background-color: $color-purple;
    border: 2px solid transparent;
    transition: all 300ms ease;
    &:hover{
        color: $color-purple;
        border: 2px solid $color-purple;
        background-color: $color-white;

    }
}
header{
    position: fixed;
    top: 0;
    z-index: 10;
    width: 100%;

    .navbar{
        justify-content: space-between;

        .navbar-nav{
            display: flex;
            align-items: center;
            gap: 20px;
            padding: 0;

            .nav-link{
                text-transform: capitalize;
                @include styleText($fs-1, $fw-1, $color-black);

                &:hover{
                    color: $color-purple;
                }
            }

            .sn-icon{
                display: flex;
                align-items: center;
                gap: 10px;

                a{
                    color: $color-black;
                    &:hover{
                        color: $color-purple;
                    }
                }

                
            }
        }
    }
}

.btn-toggle{
    display: none;
}

/* The side navigation menu */
.sidenav {
    text-align: center;
    height: 100%; /* 100% Full-height */
    width: 0; /* 0 width - change this with JavaScript */
    position: fixed; /* Stay in place */
    z-index: 1; /* Stay on top */
    top: 0;
    left: 0;
    background-color: $color-white; /* Black*/
    overflow-x: hidden; /* Disable horizontal scroll */
    padding-top: 60px; /* Place content 60px from the top */
    transition: 0.5s; /* 0.5 second transition effect to slide in the sidenav */

    .sn-icon{
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 10px;

                a{
                    color: $color-black;
                    &:hover{
                        color: $color-purple;
                    }
                }
    }
  }
  
  /* The navigation menu links */
  .sidenav a {
    @extend .nav-link;
    text-transform: capitalize;
    @include styleText($fs-1, $fw-1, $color-black);

    &:hover{
        color: $color-purple;
    }
    display: block;
    transition: 0.3s;
  }
  
  /* When you mouse over the navigation links, change their color */
  .sidenav a:hover {
    color: #f1f1f1;
  }
  
  /* Position and style the close button (top right corner) */
  .sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
  }
























@include responsive(extra-large){
    .btn-toggle{
        background-color: transparent;
        display: block;
        i{
            font-size: 30px;
        }
    }

    .navbar{
        justify-content: start !important;
    }

    .navbar-nav{
        display: none !important;
    }

    .navbar-brand{
        display: none;
    }

}

@include responsive(medium){
    
}