.teachers{
    position: relative;
    .teacher-bg{
        position: absolute;
        top: 50px;
        left: 0;
        right: 0;
        background-color: #dcd1f0;
        
        img{
            width: 100%;
        }
    }
    .card{
        border-radius: 10px;
        overflow: hidden;
        margin-bottom: 35px;
        transition: all .5s;
        &:hover{
            box-shadow: 5px 10px 20px rgb(209, 205, 205);
        }

        .card-title{
            @include styleText($fs-1, $fw-1, $color-purple);
        }

        
            .card-img-top{
                width: 100%;
                transition: all 1s;
                &:hover{
                    transform: scale(105%);
                    overflow: hidden;
                }
            }
    }
}